body {
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: cadetblue;
  color: white;

}


.btn {
  display: inline-block;
  background: grey;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.todo{
  background-color: grey;
  margin: 5px;
  padding: 10px 20px;
}
